:where(.media-query, .container-query) .box-wrap--one {
  max-width: 20rem;
}

:where(.media-query, .container-query) .box-wrap--two {
  max-width: 30rem;
}

:where(.media-query, .container-query) .box-wrap--three {
  max-width: 40rem;
}

:where(.media-query, .container-query) .box-wrap--four {
  max-width: 50rem;
}

/* ---------- Media Queries ---------- */

@media only screen and (min-width: 25em) {
  .media-query .box {
    border-color: var(--color-blue--dark);
    background-color: var(--color-blue);
    color: #fff;
  }
}

@media only screen and (min-width: 35em) {
  .media-query .box {
    border-color: var(--color-red--dark);
    background-color: var(--color-red);
    color: var(--color-primary);
  }
}

@media only screen and (min-width: 45em) {
  .media-query .box {
    border-color: var(--color-purple--dark);
    background-color: var(--color-purple);
  }
}

@media only screen and (min-width: 55em) {
  .media-query .box {
    border-color: var(--color-orange--dark);
    background-color: var(--color-orange);
  }
}

/* ---------- Container Queries ---------- */

/* ---------- Subscribe example ---------- */

.subscribe-example .container {
  display: grid;
  gap: 1.5rem;
}

@media only screen and (min-width: 45em) {
  .subscribe-example .container {
    grid-template-columns: 2fr 1fr;
  }
}

.subscribe {
  padding: 1.5rem;
  background-color: var(--color-green--lighter);
  border-radius: var(--radius);
  margin-block-end: 1.5rem;
}
