/* ---------- Card Styles ---------- */

.card {
  display: block;
  width: 100%;
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: var(--shadow);
  text-decoration: none;
  color: var(--color-primary);
  transition: all var(--transition);
}

.card__img {
  display: flex;
}

.card__img img {
  width: 100%;
  object-fit: cover;
}

.card__content {
  padding: 1rem;
}

.card__title {
  font-size: 1.266rem;
  color: var(--color-primary);
}

/* ---------- Flex ---------- */

/* ---------- Grid ---------- */
